In [35]:
import numpy as np
import pandas as pd

df = pd.read_csv("Student_Performance.csv")

In [16]:
df.columns

Index(['Hours Studied', 'Previous Scores', 'Extracurricular Activities',
       'Sleep Hours', 'Sample Question Papers Practiced', 'Performance Index'],
      dtype='object')

In [17]:
df.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0

In [20]:
df.isnull().sum()

Hours Studied                       0
Previous Scores                     0
Extracurricular Activities          0
Sleep Hours                         0
Sample Question Papers Practiced    0
Performance Index                   0
dtype: int64

In [36]:
# df = df.drop( labels= 'Extracurricular Activities' ,axis=1)
df= df.drop( ['Extracurricular Activities'], axis=1)
df.head()

,Hours Studied,Previous Scores,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,9,1,91.0
1,4,82,4,2,65.0
2,8,51,7,2,45.0
3,5,52,5,2,36.0
4,7,75,8,5,66.0

In [39]:
X= df.iloc[:,:4].values
y = df.iloc[:,4].values

array([91., 65., 45., ..., 74., 95., 64.])

In [40]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train, y_test = train_test_split(X,y , test_size= 0.2 , random_state= 1)

In [67]:
class OLS : 
    def __init__ (self):
        self.intercept_ =0
        self.coef_ =0 
        
    def fit(self, X_train, y_train):
        x = np.ones(len(X_train))
        X_train = np.insert(X_train,0,x, axis= 1 )
        coef_Matrix = np.linalg.inv(np.dot(X_train.T,X_train)).dot(np.dot(X_train.T,y_train))
        
        self.intercept_ = coef_Matrix[0]
        self.coef_= coef_Matrix[1:]
        
        print(f"Bias or intercept : {self.intercept_} , Weight or coefficients : {self.coef_} ")
        
    def predict(self, X_test):
        return np.insert(X_test,0,np.ones(len(X_test)), axis= 1 ).dot(np.insert(self.coef_,0,self.intercept_))

In [68]:
reg = OLS()
reg.fit(X_train, y_train)

Bias or intercept : -33.75444964712915 , Weight or coefficients : [2.85586915 1.01913062 0.47280271 0.18955294]

In [69]:
print(reg.predict(X_test))

[61.46602558 63.49276981 77.45124991 ... 64.67535452 30.07449898
 30.90292078]